[Desktop Entry]
Name=Xchat IRC client
Name[pl]=Klient IRC xchat
Comment=IRC Client
Comment[pl]=Klient IRC
Exec=xchat
Icon=xchat.png
Terminal=0
Type=Application
